<div class="alert">
  <p class="text">アラート文言アラート文言アラート文言アラート文言アラート文言アラート文言</p>
  <p class="btn close blue small"></p>
</div>

<br><br>

<div class="alert green">
  <p class="text">アラート文言アラート文言アラート文言アラート文言アラート文言アラート文言</p>
  <p class="btn close green small"></p>
</div>

<br><br>

<div class="alert orange">
  <p class="text">アラート文言アラート文言アラート文言アラート文言アラート文言アラート文言</p>
  <p class="btn close orange small"></p>
</div>

<br><br>

<div class="alert red">
  <p class="text">アラート文言アラート文言アラート文言アラート文言アラート文言アラート文言</p>
  <p class="btn close red small"></p>
</div>

<br><br><br><br>

<p class="btn close red mini"></p>

<br><br>

<p class="btn close red small"></p>

<br><br>

<p class="btn close red"></p>

<br><br>

<p class="btn close red large"></p>

<br><br>

<p class="btn close red big"></p>
