<p class="alert mini">アラート文言アラート文言アラート文言アラート文言アラート文言アラート文言</p>

<br><br>

<p class="alert small">アラート文言アラート文言アラート文言アラート文言アラート文言アラート文言</p>

<br><br>

<p class="alert">アラート文言アラート文言アラート文言アラート文言アラート文言アラート文言</p>

<br><br>

<p class="alert large">アラート文言アラート文言アラート文言アラート文言アラート文言アラート文言</p>

<br><br>

<p class="alert big">アラート文言アラート文言アラート文言アラート文言アラート文言アラート文言</p>

<br><br><br><br>

<div class="alert">
    <p class="text">アラート文言アラート文言アラート文言アラート文言アラート文言アラート文言</p>
</div>

<br><br>

<div class="alert mini">
    <p class="text">アラート文言アラート文言アラート文言アラート文言アラート文言アラート文言</p>
</div>

<br><br>

<div class="alert small">
    <p class="text">アラート文言アラート文言アラート文言アラート文言アラート文言アラート文言</p>
</div>

<br><br>

<div class="alert">
    <p class="text">アラート文言アラート文言アラート文言アラート文言アラート文言アラート文言</p>
</div>

<br><br>

<div class="alert large">
    <p class="text">アラート文言アラート文言アラート文言アラート文言アラート文言アラート文言</p>
</div>

<br><br>

<div class="alert big">
    <p class="text">アラート文言アラート文言アラート文言アラート文言アラート文言アラート文言</p>
</div>
