<p class="input mini"><input type="checkbox"></p>
<p class="input small"><input type="checkbox"></p>
<p class="input"><input type="checkbox"></p>
<p class="input large"><input type="checkbox"></p>
<p class="input big"><input type="checkbox"></p>

<input type="text" value="テキスト"/>
<input type="checkbox"/>
<input type="search"/>
<input type="radio"/>
