<p class="btn primary lower"><a href="#">lower</a></p>
<p class="btn primary low"><a href="#">low</a></p>
<p class="btn primary"><a href="#">Default button</a></p>
<p class="btn primary high"><a href="#">high</a></p>
<p class="btn primary lofty"><a href="#">lofty</a></p>
