<p class="btn active"><input type="submit" value="Default"/></p>
<p class="btn primary active"><input type="submit" value="Primary"/></p>
<p class="btn green active"><input type="submit" value="Success"/></p>
<p class="btn blue active"><input type="submit" value="Info"/></p>
<p class="btn orange active"><input type="submit" value="Warning"/></p>
<p class="btn red active"><input type="submit" value="Danger"/></p>
