<p class="btn primary mini"><a href="#">Mini button</a></p>
<p class="btn primary small"><a href="#">Small button</a></p>
<p class="btn primary"><a href="#">Default button</a></p>
<p class="btn primary large"><a href="#">Large button</a></p>
<p class="btn primary big"><a href="#">Big button</a></p>
