<p class="btn"><input type="submit" value="Default"/></p>
<p class="btn primary"><input type="submit" value="Primary"/></p>
<p class="btn green"><input type="submit" value="Success"/></p>
<p class="btn blue"><input type="submit" value="Info"/></p>
<p class="btn orange"><input type="submit" value="Warning"/></p>
<p class="btn red"><input type="submit" value="Danger"/></p>
