<p class="btn"><button>Default</button></p>
<p class="btn primary"><button>Primary</button></p>
<p class="btn green"><button>Success</button></p>
<p class="btn blue"><button>Info</button></p>
<p class="btn orange"><button>Warning</button></p>
<p class="btn red"><button>Danger</button></p>
