<p>lower</p>
<p class="input lower"><input type="text" value="テキスト"></p>

<p>low</p>
<p class="input low"><input type="text" value="テキスト"></p>

<p>default</p>
<p class="input"><input type="text" value="テキスト"></p>

<p>high</p>
<p class="input high"><input type="text" value="テキスト"></p>

<p>lofty</p>
<p class="input lofty"><input type="text" value="テキスト"></p>
