<p class="icon ap-lastfm"></p>

<br><br>

<p class="icon ap-lastfm-square"></p>

<br><br>

<p class="icon ap-toggle-off"></p>

<br><br>

<p class="icon ap-toggle-on"></p>

<br><br>

<p class="icon ap-bicycle"></p>

<br><br>

<p class="icon ap-bus"></p>
