<p class="icon ap-lastfm"></p>

<br><br>

<p class="icon ap-lastfm-square primary"></p>

<br><br>

<p class="icon ap-toggle-off green"></p>

<br><br>

<p class="icon ap-toggle-on blue"></p>

<br><br>

<p class="icon ap-bicycle orange"></p>

<br><br>

<p class="icon ap-bus red"></p>
