<p class="iconBtn"><span class="icon ap-low-vision"></span></p>

<br><br>

<p class="iconBtn primary"><span class="icon ap-snapchat"></span></p>

<br><br>

<p class="iconBtn green"><span class="icon ap-hourglass"></span></p>

<br><br>

<p class="iconBtn blue"><span class="icon ap-twitter"></span></p>

<br><br>

<p class="iconBtn orange"><span class="icon ap-viadeo"></span></p>

<br><br>

<p class="iconBtn red"><span class="icon ap-television"></span></p>
