<p>narrow</p>
<p class="input narrow"><input type="text" value="12:00"></p>

<p>short</p>
<p class="input short"><input type="text" value="short text"></p>

<p>default</p>
<p class="input"><input type="text" value="default text value"></p>

<p>long</p>
<p class="input long"><input type="text" value="long size input"></p>

<p>wide</p>
<p class="input wide"><input type="text" value="wide size input"></p>

<p>free</p>
<p class="input free"><input type="text" value="free size input"></p>
