
<ul class="textList">
  <li>texttexttext</li>
  <li>texttext</li>
  <li>texttexttexttext</li>
  <li>texttext</li>
  <li>texttexttexttexttext</li>
</ul>

<ul class="textList align">
  <li>texttexttext</li>
  <li>texttext</li>
  <li>texttexttexttext</li>
  <li>texttext</li>
  <li>texttexttexttexttext</li>
</ul>

<div class="box textList">
  <ul class="textList">
    <li>texttexttext</li>
    <li>texttext</li>
    <li>texttexttexttext</li>
    <li>texttext</li>
    <li>texttexttexttexttext</li>
  </ul>

  <ul class="textList">
    <li>texttexttext</li>
    <li>texttext</li>
    <li>texttexttexttext</li>
    <li>texttext</li>
    <li>texttexttexttexttext</li>
  </ul>
</div>
