footer {

  /* Atomic */
  &.footer {
    box-sizing: border-box;
    min-height: 140px;
    background: #F8F8F8;

    // state
    &.center .top,
    &.center .main,
    &.center .bottom,
    .top.center,
    .main.center,
    .bottom.center {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    // module
    .top,
    .main,
    .bottom {
      box-sizing: border-box;

      // state color
      &.gray {
        background: #F2F2F2;
      }

      // state Layout
      &.flex {
        display: flex;
        .wrap {
          flex: 1;
          &.right {
            display: flex;
            justify-content: flex-end;
          }
        }
      }

      & > .wrap {
        &.flex {
          display: flex;
          align-items: center;
        }
      }
    }

    .top {
      min-height: 50px;
      padding: 10px 60px;
    }
    .main {
      min-height: 140px;
      padding: 20px 60px;
    }
    .bottom {
      min-height: 50px;
      padding: 10px 60px;
    }

    .title.footer {
      & + .subTitle.footer {
        margin-top: 12px;
      }
    }

    .subTitle.footer {
      color: #696969;
    }

    .menuList,
    .menuList a {
      color: #696969;
    }

    dl.menuList {
      min-width: 140px;

      a {
        color: #696969;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .copyright {
    font-size: 12px;

    &.center {
      text-align: center;
    }
  }
}
